body{
     background-color: #e8e8e8;
 }

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header img{
    height: 125px;
}

#title{
    font-size: 50px;
    margin-left: 15px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav a{
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color: purple;
}

nav a:hover{
    color: red;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

section{
    width: calc((100% / 3) - 20px);
    padding: 10px;
    height: 300px;
    border-right: solid black 1px;
}

section h1{
}