html {
	position: relative;
	min-height: 100%;
	overflow-y: scroll !important;
}

body {
	background: {
		image: url("../images/background.jpg");
		size: cover;
		repeat: no-repeat;
		position: center center;
		attachment: fixed;
	}
}

.container {
	position: relative;
	max-width: $desktop-width;
	margin: 0 auto 68px;
}

