header {
	position: relative;
	height: auto;
	background-color: $default-background-color;
	margin-bottom: 20px;
	box-shadow: $header-shadow;

	.container {
		margin-bottom: 0;
	}

	.brand-name {
		position: relative;
		float: left;

		img {
			position: relative;
			display: block;
			float: left;
			height: $header-height - 10;
			width: auto;
			margin: 5px 15px;
		}

		.title {
			position: relative;
			display: block;
			float: right;
			line-height: $header-height;
		}
	}

	nav {
		position: relative;
		float: right;
		line-height: $header-height;

		li {
			float: left;
		}

		a {
			&:hover {
				background-color: $nav-hover;
			}

			display: block;
			padding: 0 20px;
			text-decoration: none;
			color: $black-text
		}
	}
}