main {
	position: relative;
	margin-bottom: 20px;

	.container {
		max-width: $desktop-width;
	}
	section {
		position: relative;
		width: 100%;
		padding: 25px;
		margin-bottom: 20px;
		box-sizing: border-box;
		background-color: $default-background-color;
		box-shadow: $section-shadow;

		img{
			width: 200px;
			display: block;
			margin: auto;
		}
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}

	.inline-block {
		&:first-child {
			margin-left: 0;
		}
		display: inline-block;
		margin-left: 20px;
		vertical-align: top;
	}

	//.table {
	//	display: table;
	//	border-collapse: separate;
	//	border-spacing: 20px 0;
	//}
	//
	//.row {
	//	display: table-row;
	//}
	//
	//.cell {
	//	&:last-child {
	//		margin-right: 0;
	//	}
	//
	//	display: table-cell;
	//	width: 33%;
	//	margin-right: 20px;
	//	vertical-align: top;
	//}
	//
	//.cell + .cell {
	//	border-spacing: 10px;
	//}
}