main {
	position: relative;
	margin-bottom: 20px;

	.container {
		max-width: $desktop-width + 40;
	}
	section {
		position: relative;
		width: 100%;
		padding: 25px;
		margin-bottom: 20px;
		box-sizing: border-box;
		background-color: $default-background-color;
		box-shadow: $section-shadow;

		img{
			width: 200px;
			display: block;
			margin: auto;
		}
	}

	.table {
		display: table;
		border-collapse: separate;
		border-spacing: 20px 0;
	}

	.row {
		display: table-row;
	}

	.cell {
		&:last-child {
			margin-right: 0;
		}

		display: table-cell;
		width: 33%;
		margin-right: 20px;
	}

	.cell + .cell {
		border-spacing: 10px;
	}
}