@import "variables";



main {
	.container {
		max-width: $desktop-width + 40;
	}

	.table {
		display: table;
		border-collapse: separate;
		border-spacing: 20px 0;
	}

	.row {
		display: table-row;
	}

	.cell {
		&:last-child {
			margin-right: 0;
		}

		display: table-cell;
		width: 33%;
		margin-right: 20px;
		vertical-align: top;
	}

	.cell + .cell {
		border-spacing: 10px;
	}
}